.btn {
    @extend .text-body-font-size;
    @extend .rounded;
    @extend .border-0;
    white-space: nowrap;

    &.no-rounded {
        @extend .rounded-0;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus{
        @extend .shadow-none;
    }

    &.btn-primary {
        @extend .bg-blue;
        @extend .text-white;
        transition: all 0.2s ease-in-out;

        &:hover {
           background-color: darken( $blue, 5% ) !important;
           
        }
    }

    &.btn-bright-gray {
        @extend .bg-bright-gray;
        @extend .text-white;

        transition: all 0.2s ease-in-out;

        &:hover {
           background-color: darken( $bright-gray, 5% ) !important;
           
        }
    }

    &.btn-white {
        @extend .bg-white;
        @extend .text-blue;

        transition: all 0.2s ease-in-out;

        &:hover {
           background-color: darken( $white, 5% ) !important;
           
        }
    }

    &.btn-outline {
        @extend .bg-transparent;
        @extend .border;
        @extend .btn-outline;
    }

    &.btn-primary-outline {
        @extend .text-blue;
        @extend .border-blue;
    }

    &.btn-white-outline {
        @extend .text-white;
        @extend .border-white;
    }

    &.btn-x-lg {
        @extend .px-30;
        @extend .py-16;
        @extend .font-21;
        @extend .font-weight-semi-bold;
    }

    &.btn-lg {
        @extend .px-20;
        @extend .py-10;
    }

    &.btn-sm {
        @extend .px-20;
        @extend .py-12;
        @extend .text-sm;
        @extend .font-weight-semi-bold;
    }

    &.btn-xs {
        @extend .px-16;
        @extend .py-8;
        @extend .text-xs;
        @extend .font-weight-semi-bold;
    }

    &.btn-x-xs {
        @extend .px-12;
        @extend .py-6;
        @extend .text-xs;
        @extend .font-weight-extra-bold;
    }

    
}
