$blue: #1077da;
$dodger-blue: #2770F1;
$blue-100: #dbebfa;

$green: #63c572;
$green-color: #6AC069 !default;

$white: #ffffff;

$gray: #666d7d;
$gray-100: #bbc2d2;

$clay: #2E3342;

$mandy-pink: #E44C7D;

$aqua: #5BBAD6;

$violet: #3B4A64;

$primary-text-color: #2c2e31 !default;
$secondary-text-color: #fff !default;

$slate-500: #a4aab2 !default; // icon color

//Footer color classes
.footer-text-color {
  color: #a8aab4;
}

.bg-footer {
  background-color: #303642;
}

.copyright-color {
  color: #bbc2d2;
}

.bg-transparent {
  background-color: transparent;
}

.footer-text-color {
  color: #a8aab4 !important;
}

// Text Colors
$colors: (
  "icon-color": $slate-500,
  "secondary": $secondary-text-color,
  "green": $green,
  "light-green": $green-color,
  "blue": $blue,
  "dodger-blue": $dodger-blue,
  "light-blue": $blue-100,
  "gray": $gray,
  "light-gray": $gray-100,
  "clay": $clay,
  "mandy-pink": $mandy-pink,
  "aqua": $aqua,
  "violet": $violet,
  "white": $white,
  "primary": $primary-text-color
);

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    color: $color-value !important;
  }

  .bg-#{$color-name} { 
    background-color: $color-value !important;
  }

  .border-#{$color-name} {
    border-color: $color-value !important;
  }
}
