$blue: #1077da;
$dodger-blue: #2770f1;
$mariner-blue: #2b80c5;
$blue-100: #dbebfa;
$blue-200: #0077b5;
$blue-300: #1ea0f2;
$blue-400: #3b5997;
$cadet-blue: #b4bac5;

$aqua-10: #f8fafc;

$green-col: #63c572;
$green-light: #6ac069 !default;
$green-200: #84c59e !default;

$white-col: #ffffff;

$gray-col: #666d7d;
$gray-light: #f4f5f7;
$gray-100: #bbc2d2;
$bright-gray: #39404c;
$gray-200: #69727a;

$clay-col: #2e3342;
$clay-10: #2f3441;

$mandy-pink: #e44c7d;

$aqua-col: #5bbad6;

$violet: #3b4a64;

$primary-text-color: #2c2e31 !default;
$secondary-text-color: #fff !default;

$slate-10: #fafafc !default;
$slate-30: #f6f6f6;
$slate-40: #eef0f4 !default;
$slate-300: #b6bfc5;
$slate-500: #a4aab2 !default; // icon color

//Footer color classes
.footer-text-color {
  color: #a8aab4;
}

.bg-footer {
  background-color: #303642;
}

.copyright-color {
  color: #bbc2d2;
}

.bg-transparent {
  background-color: transparent;
}

.footer-text-color {
  color: #a8aab4 !important;
}

// Text Colors
$colors: (
  "icon-color": $slate-500,
  "slate-10": $slate-10,
  "slate-30": $slate-30,
  "slate-40": $slate-40,
  "slate-300": $slate-300,
  "secondary": $secondary-text-color,
  "green": $green-col,
  "light-green": $green-light,
  "green-200": $green-200,
  "blue": $blue,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "dodger-blue": $dodger-blue,
  "mariner-blue": $mariner-blue,
  "light-blue": $blue-100,
  "cadet-blue": $cadet-blue,
  "aqua-10": $aqua-10,
  "gray": $gray-col,
  "gray-light": $gray-light,
  "light-gray": $gray-100,
  "bright-gray": $bright-gray,
  "gray-200": $gray-200,
  "clay": $clay-col,
  "clay-10": $clay-10,
  "mandy-pink": $mandy-pink,
  "aqua": $aqua-col,
  "violet": $violet,
  "white": $white-col,
  "primary": $primary-text-color,
);

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    color: $color-value !important;
  }

  .text-color-#{$color-name} {
    color: $color-value !important;
  }

  .tx-#{$color-name} {
    color: $color-value !important;
  }

  .bg-#{$color-name} {
    background-color: $color-value !important;
  }

  .border-#{$color-name} {
    border-color: $color-value !important;
  }
}
