$blue: #1077da;
$dodger-blue: #2770F1;
$mariner-blue: #2B80C5;
$blue-100: #dbebfa;
$blue-200: #0077b5;
$blue-300: #1ea0f2;
$blue-400: #3b5997;
$cadet-blue: #B4BAC5;

$aqua-10:#F8FAFC;

$green: #63c572;
$green-color: #6AC069 !default;

$white: #ffffff;

$gray: #666d7d;
$gray-light: #F4F5F7;
$gray-100: #bbc2d2;
$bright-gray: #39404C;
$gray-200: #69727A;

$clay: #2E3342;
$clay-10: #2F3441;

$mandy-pink: #E44C7D;

$aqua: #5BBAD6;

$violet: #3B4A64;

$primary-text-color: #2c2e31 !default;
$secondary-text-color: #fff !default;

$slate-10: #FAFAFC !default; 
$slate-40: #EEF0F4 !default;
$slate-500: #a4aab2 !default; // icon color

//Footer color classes
.footer-text-color {
  color: #a8aab4;
}

.bg-footer {
  background-color: #303642;
}

.copyright-color {
  color: #bbc2d2;
}

.bg-transparent {
  background-color: transparent;
}

.footer-text-color {
  color: #a8aab4 !important;
}

// Text Colors
$colors: (
  "icon-color": $slate-500,
  'slate-10': $slate-10,
  'slate-40': $slate-40,
  "secondary": $secondary-text-color,
  "green": $green,
  "light-green": $green-color,
  "blue": $blue,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "dodger-blue": $dodger-blue,
  "mariner-blue": $mariner-blue,
  "light-blue": $blue-100,
  "cadet-blue" : $cadet-blue,
  "aqua-10": $aqua-10,
  "gray": $gray,
  "gray-light": $gray-light,
  "light-gray": $gray-100,
  "bright-gray": $bright-gray,
  "gray-200": $gray-200,
  "clay": $clay,
  "clay-10": $clay-10,
  "mandy-pink": $mandy-pink,
  "aqua": $aqua,
  "violet": $violet,
  "white": $white,
  "primary": $primary-text-color
);

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    color: $color-value !important;
  }

  .text-color-#{$color-name} {
    color: $color-value !important;
  }

  .bg-#{$color-name} { 
    background-color: $color-value !important;
  }

  .border-#{$color-name} {
    border-color: $color-value !important;
  }
}
