@mixin dots ($size, $line-height) {
    width: $size;
    height: $size;
    min-width: $size;
    line-height: $line-height;
}

.dot {

    @extend .rounded-circle;
    @extend .text-center;

    &.dot-xl {
        @include dots(48px, 44px);
    }

    &.dot-lg {
        @include dots(40px, 36px);
    }

    &.dot-md {
        @include dots(32px, 28px);
    }

    &.dot-sm {
        @include dots(24px, 20px);
    }
}
