
.home-grid {
	min-height: 1260px;
	background-color: #F4F5F7;
	@extend .row, .row-cols-md-3;

	& > div {
		@extend .px-0;
	}

	.home-post {
		@extend .d-block;
		@extend .p-40;
	}

	// text-colors 
	span,h4,p {
		@extend .text-white;
	}
	.bg-white {
		span {
			@extend .text-blue;
		}
		h4 {
			@extend .text-clay;
		}
		p{
			@extend .text-gray;
		}
	}
}

.post-image-1 {
	background: url("/static/images/home/home_grid_1.jpg");
}

.post-image-2 {
	background: url("/static/images/home/home_grid_2.jpg");
}

.post-image-3 {
	background: url("/static/images/home/home_grid_3.jpg");
}

.post-image-1, .post-image-2, .post-image-3 {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (max-width: 768px) {
	.home-grid {
		.home-post {
			min-height: 360px !important;
		}
	}
}