header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 110;

  nav {
    @extend .py-20;
  }

  &.coloured-header {
    @extend .position-relative;
    @extend .bg-clay-10;
    @extend .p-0;
  }

  ul {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;

    li {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;

      a.nav-link {
        color: $white !important;
        font-family: Mulish;
      }
    }
  }

  .navbar {
    ul.dropdown-menu {
      min-width: 240px;
      border-radius: 2px;
      @extend .border-0;
      @extend .bg-white;

      a {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        @extend .text-primary;
      }

      .dropdown-item {
        height: 44px;
        @extend .flex-v-center;
      }

      .dropdown-item:hover {
        background-color: #ebf4fd;
      }
    }
  }
}

header.entry-header {
  display: none;
}

