header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 110;
  height: 75px;
  padding: 30px 0;

  ul {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;

    li {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;

      a.nav-link {
        color: $white !important;
        font-family: Mulish;
      }
    }
  }

  .navbar {
    ul.dropdown-menu {
      min-width: fit-content;
      border-radius: 2px;
      @extend .border-0;
      @extend .bg-white;

      .dropdown-item {
        @extend .text-primary;
      }

      .dropdown-item:hover {
        background-color: #EBF4FD;
      }
    }
  }
}

header.entry-header {
  display: none;
}
