.underline {
  @extend .mb-30;
}

.underline::after {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-top: 5px;
  @extend .bg-blue;
}

.mx-auto.underline::after {
  @extend .mx-auto;
}

.flex-h-center {
  @extend .d-flex;
  @extend .justify-content-center;
}

.flex-v-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-1 {
  background: linear-gradient(135deg, #5f1ab3 0%, #005f91 100%);
}

.subnav {
  max-height: 80px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  list-style-type: none;

  @extend .px-4, .px-md-5, .px-lg-14, .py-25;

  a {
    margin-right: 60px;
    color: $gray !important;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 28px;
  }

  a.active {
    color: #2e3342;
    position: relative;
  }

  a.active::after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    background-color: #2986ce;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.post-verticle-nav {
  @extend .list-unstyled, .m-0;

  .nav-items {
    @extend .text-sm;
    &:not(:last-child) {
      @extend .mb-10;
    }

    .nav-link {
      @extend .text-dodger-blue;
      @extend .p-0;

      &.active {
        @extend .text-primary;
      }
    }
  }

}

.pagination {
  .page-item  {
    @extend .px-16, .py-6;
    @extend .border;
    @extend .border-info;
    @extend .text-dodger-blue;
    @extend .rounded;
    @extend .mr-12;

    &.active {
      @extend .bg-dodger-blue;
      @extend .text-white;
    }
  }
}

.shadow-low {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
