.underline {
  @extend .mb-30;
}

.underline::after {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-top: 5px;
  @extend .bg-blue;
}

.mx-auto.underline::after {
  @extend .mx-auto;
}

.flex-h-center {
  @extend .d-flex;
  @extend .justify-content-center;
}

.flex-v-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-1 {
  background: linear-gradient(135deg, #5f1ab3 0%, #005f91 100%);
}

.subnav {
  max-height: 80px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  list-style-type: none;
  white-space: nowrap;

  @extend .px-4, .px-md-5, .px-lg-14, .py-25;

  a {
    margin-right: 60px;
    color: #666d7d;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 28px;

    &:hover {
      color: #2e3342 !important;
    }
  }

  a.active {
    color: #2e3342;
    position: relative;
  }

  a.active::after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    background-color: #2986ce;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.vertical-nav {
  @extend .list-unstyled, .m-0;

  .nav-items {
    @extend .text-sm;
    &:not(:last-child) {
      @extend .mb-10;
    }

    .nav-link {
      @extend .text-dodger-blue;
      @extend .p-0;

      &.active {
        @extend .text-primary;
      }
    }
  }
}

.pagination {
  .page-item {
    @extend .px-16, .py-6;
    @extend .border;
    @extend .border-info;
    @extend .text-dodger-blue;
    @extend .rounded;
    @extend .mr-12;

    &.active {
      @extend .bg-dodger-blue;
      @extend .text-white;
    }
  }
}

.case-study {
  @extend .row, .mx-0;

  .case-study-left {
    @extend .pr-80;
    @extend .col-12;
    @extend .order-2;
    @extend .order-md-1;
    @extend .col-md-7;
    @extend .px-xs-0;
  }

  .case-study-right {
    @extend .order-1;
    @extend .order-md-2;
    @extend .position-relative;
    @extend .col-12;
    @extend .col-md-5;
    @extend .px-xs-0;
    top: -120px;

    .card {
      @extend .mb-xs-40;

      .data-bar {
        @extend .mb-30;

        &:last-child {
          @extend .mb-0;
        }

        p:first-of-type {
          @extend .font-weight-bold;
        }
        p:last-of-type {
          @extend .text-green;
          @extend .text-gray-200;
        }
      }
    }
  }
}

.customer-feedback {
  @extend .border-y-dashed;
  @extend .border-1;
  @extend .border-cadet-blue;
  @extend .py-30;
  @extend .mb-60;
}

.customer-content {
  h4,
  h3,
  h5 {
    @extend .text-clay;
    @extend .mb-20;
  }

  p {
    @extend .mb-30;
  }

  img {
    @extend .w-100;
    @extend .my-30;
  }
}

// for blog article detail
.blog {
  img {
    @extend .img-fluid;
    @extend .mb-20;
    @extend .w-100;
  }

  p {
    @extend .font-21;
    @extend .mb-30;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .mb-20;
  }
}

// for share arcticle in blog inner page

.share {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .px-16;
  @extend .py-12;
  @extend .border;
  //@extend .border-slate-50;
  @extend .rounded;
  @extend .mb-20;

  .social-media {
    @extend .d-flex;
    @extend .align-items-center;

    & > span {
      @extend .text-gray-200;
      @extend .text-xs;
      @extend .mr-16;
    }
  }

  label {
    @extend .text-xxs;
    @extend .text-uppercase;
    @extend .font-weight-semi-bold;
    @extend .letter-spacing-15;
  }
}

// for subscribe part in blog detail page
.subscribe {
  @extend .bg-slate-10;
  @extend .border;
  @extend .border-slate-40;
  @extend .rounded;
  @extend .px-20;
  @extend .py-30;
  @extend .mb-30;

  #email-subscribe {
    form {
      border-radius: 3px;
      input,
      button {
        @extend .text-sm;
        @extend .py-12;
        @extend .font-weight-light;
      }
      input {
        @extend .rounded-0;
        border-radius: 3px 0 0 3px !important;
      }
      .btn-input {
        @extend .border, .border-blue;
        border-radius: 0 3px 3px 0 !important;
      }
      .wpcf7-not-valid-tip {
        @extend .text-xs;
      }
    }
  }
}

#case-study-pdf-form {
  form {
    input {
      @extend .text-body-font-size;
    }
    .btn {
      width: unset;
      @extend .d-block;
      @extend .ml-auto;
    }
    .wpcf7-not-valid-tip {
      @extend .text-sm;
    }
  }
}

// modified the response content styles from contact form 7
.wpcf7-response-output {
  @extend .text-color-gray;
  @extend .border-0;
  @extend .mx-0, .mb-0, .p-0;
}

// for migration steps in cloud migration
.migration-steps {
  .step {
    @extend .border, .border-slate-30;
    border-width: 9px !important;
    max-width: 175px;
    @extend .pl-30;
    @extend .mb-20;

    h1 {
      @extend .text-green-200;
      @extend .font-weight-bold;
      font-size: 140px;
      line-height: 160px;
    }

    h4 {
      @extend .mb-0;
      span {
        white-space: nowrap;
      }
    }
  }

  ul {
    li:not(:last-child) {
      @extend .mb-20;
    }
  }
}

.shadow-low {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.border-y-dashed {
  border-top: dashed;
  border-bottom: dashed;
}

.dropdown-item:active {
  @extend .bg-aqua-10;
}

.case-studies {
  select {
    min-width: auto;
  }
}

.rounded-indicators {
  li {
    width: 12px;
    height: 12px;
    background-color: transparent;
    @extend .rounded-circle;
    @extend .border, .border-white;

    &.active {
      @extend .bg-white;
    }
  }
}

#fullFeatureContainerCarousel {
  .rounded-indicators {
    bottom: -40px;
    @extend .mx-auto;
    @extend .justify-content-start;
  }
  
}

@media (max-width: 767px) {
  .case-study {
    .case-study-right {
      top: 0;
    }
  }
}
