body {
  font-family: "Nunito Sans", sans-serif;
  @extend .text-primary;
  @extend .text-body-font-size;
}

a {
  @extend .text-blue;
  @extend .text-decoration-none;
}

h1,
h2,
h3,
h5,
h6,
p,
ul {
  @extend .mb-0;
}

// font-sizes
.hero-white {
  @include font-size(56px);
  @include line-height(72px);
  // line-height: 72px;
  text-transform: uppercase;
  @extend .text-white;
  @extend .font-weight-black;
}

h1,
.header-1 {
  @include font-size(48px);
  @include line-height(64px);
  // line-height: 64px;
  @extend .font-weight-extra-bold;
  @extend .text-primary;
}

h1.title-2 {
  @include font-size(48px);
  @include line-height(64px);
  //line-height: 64px;
  @extend .font-weight-semi-bold;
}

h2,
.header-2 {
  @include font-size(40px);
  @include line-height(56px);
  //line-height: 56px;
  @extend .text-primary;
  @extend .font-weight-extra-bold;
}

h3,
.header-3 {
  @include font-size(36px);
  @include line-height(52px);
  //line-height: 52px;
  @extend .text-primary;
  @extend .font-weight-extra-bold;
}

h4,
.header-4 {
  @include font-size(32px);
  @include line-height(40px);
  //line-height: 40px;
  @extend .text-primary;
  @extend .font-weight-extra-bold;
}

.header-4-light {
  color: #2e3342 !important;
  @include font-size(32px);
  @include line-height(40px);
  //line-height: 40px;
  @extend .font-weight-semi-bold;
}

h5,
.header-5 {
  @include font-size(24px);
  @include line-height(32px);
  //line-height: 32px;
  @extend .font-weight-semi-bold;
  @extend .text-primary;
}

.jd-quote {
  @include font-size(28px);
  @include line-height(36px);
  //line-height: 36px;
  @extend .font-weight-light;
  @extend .text-primary;
}

.hero-prefix {
  @include font-size(20px);
  letter-spacing: 2px;
  @include line-height(28px);
  //line-height: 28px;
  text-transform: uppercase;
  @extend .text-secondary;
}

.label {
  @include font-size(14px);
  letter-spacing: 0.7px;
  @include line-height(28px);
  //line-height: 28px;
  text-transform: uppercase;
  @extend .font-weight-extra-bold;
}

// default font size
.text-body-font-size {
  @include font-size(18px);
  @include line-height(28px);
  // line-height: 28px;
}

.text-sm {
  @include font-size(16px);
  @include line-height(28px);
  //line-height: 28px;
}

.text-xs {
  @include font-size(14px);
  @include line-height(24px);
  // line-height: 24px;
}

.text-xxs {
  @include font-size(12px);
  @include line-height(20px);
  //line-height: 20px;
}

// font weights
.font-weight-light {
  font-weight: 300;
}

.font-weight-default {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extra-bold {
  font-weight: 800;
}

.font-weight-black {
  font-weight: 900;
}

// extending font sizes and font weights
.text-bold {
  @extend .text-primary;
  @extend .font-weight-bold;
}

// for 100px max height
.max-h-100px {
  max-height: 100px;
}

// For a section in home page
span.big {
  width: 217px;
  color: $blue;
  @include font-size(120px);
  font-weight: 900;
  letter-spacing: 0;
  @include line-height(136px);
  //line-height: 136px;
}

.customers h4 {
  color: $black;
  @include font-size(18px);
  font-weight: 800;
  letter-spacing: 0;
  @include line-height(28px);
  //line-height: 28px;
}

span.pre {
  display: block;
  color: $blue;
  @include font-size(14px);
  font-weight: 800;
  letter-spacing: 0.7px;
  @include line-height(28px);
  //line-height: 28px;
  text-transform: uppercase;
}

// Styles for footer
.font-14 {
  @include font-size(14px);
}

.font-16 {
  @include font-size(16px);
}

.font-18 {
  @include font-size(18px);
}

.font-21 {
  @include font-size(21px);
}

.font-48 {
  @include font-size(48px);
  @include line-height(64px);
  @extend .font-weight-extra-bold;
}

.font-72 {
  @include font-size(72px);
  @include line-height(56px);
}

.line-height-24 {
  //line-height: 24px;
  @include line-height(24px);
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-15 {
  letter-spacing: 1.5px;
}

.letter-spacing-07 {
  letter-spacing: 0.7px;
}

.letter-spacing-02 {
  letter-spacing: 0.2px;
}