$black: #2c2e31 !default; // black color

$blue: #1077da !default;
$blue-100: #dbebfa;

$green: #63c572;

$gray: #666d7d;
$gray-100: #bbc2d2;

$primary-text-color: $black;
$secondary-text-color: #fff !default;

$slate-500: #a4aab2 !default; // icon color

//Footer color classes
.footer-text-color {
  color: #a8aab4;
}

.bg-footer {
  background-color: #303642;
}

.copyright-color {
  color: #bbc2d2;
}

.bg-transparent {
  background-color: transparent;
}

.footer-text-color {
  color: #a8aab4;
}

// Text Colors
$colors: (
  "icon-color": $slate-500,
  "primary": $primary-text-color,
  "secondary": $secondary-text-color,
  "green": $green,
  "blue": $blue,
  "light-blue": $blue-100,
  "gray": $gray,
  "light-gray": $gray-100,
  "white": #fff,
);

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    color: $color-value !important;
  }

  .bg-#{$color-name} {
    background-color: $color-value !important;
  }

  .border-#{$color-name} {
    border-color: $color-value !important;
  }
}
