// for container
.container-box {
    @extend .container;
    @extend .g-0;
    @extend .px-xs-20;
    @extend .mb-160;
    @extend .mb-xs-80;

    &.last-container {
        @extend .mb-0;
    }
}

// for container-fluid
.container-fluid-box {
    @extend .container-fluid;
    @extend .g-0;
    @extend .py-60;
    @extend .mb-160;
    @extend .px-xs-20;
    @extend .py-xs-40;
    @extend .mb-xs-80;

    &.last-container {
        @extend .mb-0;
    }
}

//center content fluid

.content-fluid {
    @extend .max-w-800;
    @extend .mx-auto;
    @extend .text-center;

    h1 {
        @extend .mb-10;
    }

    p {
        @extend .mb-60;
        @extend .mb-xs-40;
    }

    img {
        @extend .img-fluid;
    }

    h6 {
        @extend .meta-heading;
    }
}

.content-container, .image-container {
    @extend .col;
    @extend .d-flex;
    @extend .flex-column;
    @extend .my-auto;
}

.feature-container {
    @extend .container-box;
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .mx-auto;

    &.image-first {
        .content-container {
            @extend .ml-auto;
            @extend .order-md-2;
        }

        .image-container {
            @extend .flex-wrap-reverse;
            @extend .order-md-1;
            margin-left: unset !important;

            img {
                @extend .pr-20;
                @extend .pr-xs-0;
                @extend .pl-0;
            }

            &.under-image {
                left: 170px;
                @extend .left-xs-0;

                img {
                    @extend .max-w-unset;
                }
            }
        }
    }

    .content-container {
        @extend .max-w-480;

        h1 {
            @extend .mb-20;
        }

        h2 {
            @extend .mb-20;
            @extend .font-weight-extra-bold;
        }

        h6 {
            @extend .meta-heading;
        }

        p {
            @extend .mb-xs-20;
        }

        &.card {
            @extend .shadow-y;
            @extend .border-0;
            @extend .rounded-4;
            @extend .max-w-570;
            @extend .p-40;
            @extend .p-xs-0;
            @extend .shadow-xs-none;

            h2 {
                @extend .mb-10;
            }

            h1 {
                @extend .font-weight-light;
            }

            p {
                @extend .mb-0;
                @extend .mb-xs-20;
            }
        }
    }

    .image-container {
        @extend .ml-auto;

        img {
            @extend .img-fluid;
            @extend .pl-20;
            @extend .pl-xs-0;
        }
    }

    .under-image {
        @extend .position-relative;
        right: 170px;
        z-index: -1;
        @extend .right-xs-0;

        img {
            @extend .img-xs-fluid;
        }
    }
}



.feature-line-container {
    @extend .container;
    @extend .g-0;
    @extend .px-xs-20;
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .mx-auto;
    @extend .mb-0;


    &.first-image {

        .content-line-container {
            @extend .pl-90;
            @extend .pl-xs-40;
            @extend .pr-0;
            @extend .order-md-2;
            margin-left: unset !important;

            &::after {
                left:0px;
            }

            div {
                &.dot {
                    left: -16px;
                    @extend .left-xs-0;
                    z-index: 1;

                    span {
                        @extend .text-white;
                        @extend .position-relative;
                        top: 2px;
                    }
                }
            }
        }

        .image-line-container {
            @extend .align-items-md-end;
            @extend .pr-90;
            @extend .pr-xs-0;
            @extend .order-md-1;

            .image-content {
                @extend .w-280;
                @extend .p-12;
                @extend .border;
                @extend .border-slate-50;
                @extend .rounded;
                @extend .shadow-y;
                @extend .position-relative;

                &:before {
                    @extend .before-first-image-arrow;
                }

                &:after {
                    @extend .after-first-image-arrow;
                }

                P {
                    @extend .text-xs;
                }
            }
        }
    }

    .content-line-container {
        @extend .max-w-480;
        @extend .pr-90;
        @extend .pr-xs-0;
        @extend .pl-xs-40;
        @extend .ml-auto;
        @extend .position-relative;


        h3 {
            @extend .mb-10;
        }

        p {
            @extend .mb-30;
        }

        div {
            &:nth-child(2n) {
                @extend .pb-100;
                @extend .pb-xs-30;
            }
        }

        &::after {
            content: '';
            @extend .position-absolute;
            @extend .top-0;
            right: -1px;
            @extend .left-xs-16;
            height: 100%;
            z-index: -1;
            @extend .border-left-dashed;
        }

        div {
            &.dot {
                @extend .dot-md;
                @extend .bg-blue;
                @extend .position-absolute;
                right: -16px;
                @extend .left-xs-0;
                z-index: 1;

                span {
                    @extend .text-white;
                    @extend .position-relative;
                    top: 2px;
                }
            }
        }
    }

    .image-line-container {
        @extend .d-flex;
        @extend .flex-md-column;
        @extend .pl-90;
        @extend .pl-xs-40;
        @extend .pb-xs-30;
        @extend .position-relative;

        img {
            @extend .w-200;
            @extend .h-200;
            @extend .mb-10;
            @extend .wh-xs-60;
            @extend .mr-xs-30;
        }

        .image-content {
            @extend .w-280;
            @extend .p-12;
            @extend .border;
            @extend .border-slate-50;
            @extend .rounded;
            @extend .shadow-y;
            @extend .position-relative;

            &:before {
                content: '';
                @extend .position-absolute;
                z-index: 1;
                @extend .before-image-arrow;
            }

            &:after {
                content: '';
                @extend .position-absolute;
                @extend .after-image-arrow;
            }

            P {
                @extend .text-xs;
            }
        }

        &::after {
            content: unset;
            @extend .position-absolute;
            @extend .top-0;
            right: -1px;
            @extend .left-xs-16;
            height: 100%;
            @extend .border-left-dashed;
            @extend .content-xs-set;
        }
    }
}


// for about page line

.about-line-container {

    @extend .feature-line-container;

    h3 {
        &.year {
            @extend .text-primary;
        }
    }

    p {
        @extend .pb-160;
        @extend .pb-xs-0;
        @extend .mb-0;
    }

    img {
        @extend .img-fluid;
        width: unset !important;
        height: unset !important;
    }
}


// Layout
.layout {

    @extend .container-box;
    @extend .d-md-flex;

    .left-layout {
        @extend .flex-grow-1;
    }

    .right-layout {
        @extend .ml-40;
        @extend .ml-xs-0;
        @extend .mt-xs-40;
    }

    &.reverse-layout {
        .right-layout {
            @extend .ml-0;
            @extend .mr-40;
            @extend .mr-xs-0;
        }

        .left-layout {
            @extend .ml-40;
            @extend .ml-xs-0;
            @extend .mt-xs-40;
        }
    }
}
// --- In a Row three boxes will be there --- //
// for customer experience page
.row-3 {
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-md-3;
    @extend .g-0;

    .box {
        @extend .max-w-360;
        @extend .mr-20;
        @extend .mb-30;
        @extend .mr-xs-0;
        @extend .rounded-4;
        @extend .shadow-low;
        @extend .cursor-pointer;


        img {
            @extend .img-fluid;
        }

        div {
            @extend .p-20;

            h3 {
                @extend .mb-10;
            }

            p {
                @extend .mb-20;
            }

            a {
                @extend .font-weight-bold;
            }
        }
    }
}
// for blog page
.row-2 {

    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .g-0;

    .box {
        @extend .max-w-340;
        @extend .mr-40;
        @extend .mb-40;
        @extend .mr-xs-0;
        @extend .rounded-5;
        @extend .shadow-high;
        @extend .cursor-pointer;

        a {

            img {
                @extend .img-fluid;
                @extend .rounded-y-5;
            }

            div {
                @extend .p-20;

                h5 {
                    @extend .mb-10;
                    @extend .h-95;
                    @extend .overflow-hidden;
                }

                p {
                    @extend .mb-20;
                    @extend .text-primary;
                    @extend .h-140;
                    @extend .overflow-hidden;
                }

                span {
                    @extend .text-label;
                }
            }
        }
    }

    .card-shadow {
        @extend .max-w-360;
        @extend .p-20;
        @extend .mr-40;
        @extend .mb-40;
        @extend .mr-xs-0;
        @extend .border;
        @extend .border-slate-50;
        @extend .rounded-4;
        @extend .shadow-low;

        img {
            @extend .mb-20;
        }

        h5 {
            @extend .mb-10;
        }

        p {
            @extend .text-xs;
            @extend .mb-70;
        }
    }
}
