.dot {

    @extend .rounded-circle;
    @extend .text-center;

    &.dot-xl {
        width: 60px;
        height: 60px;
        line-height: 56px;
        min-width: 60px;
    }

    &.dot-lg {
        width: 40px;
        height: 40px;
        line-height: 36px;
        min-width: 40px;
    }

    &.dot-md {
        width: 32px;
        height: 32px;
        line-height: 28px;
        min-width: 32px;
    }

    &.dot-sm {
        width: 24px;
        height: 24px;
        line-height: 20px;
        min-width: 24px;
    }
}
