// for list content

ul {
  &.list-content {
    @extend .list-unstyled;

    li {
      @extend .position-relative;
      @extend .mb-20;

      &:last-child {
        @extend .mb-0;
      }

      p {
        @extend .text-large;
        @extend .ml-50;

        &:last-child {
          @extend .mb-0;
        }
      }

      &::after {
        content: "\e916";
        font-family: keka-icons;
        font-weight: normal;
        font-style: normal;
        padding-top: 2px;
        @extend .position-absolute;
        @extend .top-0;
        @extend .left-0;
        @extend .dot;
        @extend .dot-md;
        @extend .bg-blue-light;
        @extend .icon;
        @extend .icon-xs;
        @extend .text-blue;
      }
    }
  }

  &.list-green {
    li {
      &::after {
        @extend .bg-green-light;
        @extend .text-green;
      }
    }
  }

  &.list-check {
    li {
      &::after {
        content: "\e923";
        @extend .bg-white;
        @extend .icon-md;
        @extend .text-green;
        @extend .pt-0;
      }
    }
  }
}

// for pricing features

.features {
  @extend .mb-30;

  ul {
    @extend .list-unstyled;

    li {
      @extend .mb-10;
      @extend .position-relative;

      p {
        @extend .text-xs;
        @extend .ml-24;
        @extend .text-secondary;
      }

      &:last-child {
        @extend .mb-0;
      }

      &::after {
        content: "\e916";
        font-family: keka-icons;
        font-weight: normal;
        font-style: normal;
        @extend .position-absolute;
        top: -5px;
        @extend .left-0;
        @extend .icon;
        @extend .icon-xs;
        @extend .text-secondary;
      }
    }
  }
}

.addons {
  @extend .features;

  ul {
    li {
      &::after {
        content: "\e928";
        @extend .icon;
        @extend .icon-xs;
        @extend .text-green;
      }
    }
  }
}
