<footer>
  <div class="bg-footer text-white overflow-hidden">
    <div class="row mb-3">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <img src="assets/images/logos/tv-footer.svg" class="mt-5"/>
            <p class="py-4 footer-text-color font-16 line-height-24">
              Technovert is your digital partner. Our experience brings the right insight, technology and teamwork together to create outstanding digital experiences. Every time.
            </p>
            <span class="text-warning font-21 line-height-24">
              We are hiring
            </span>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6 mt-5">
            <h5 class="text-white font-18">Data Analytics</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Product Engineering</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Digital Transformation</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Data Analytics</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">UX Design</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Mobile Experience</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Quality Engineering</li>
            </ul>
          </div>
          <div class="col-md-6 mt-5">
            <h5 class="text-white font-18">Digital Transformation</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Customer Experience</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Employee Experience</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Test UX Design</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud </li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Mobile</li>
            </ul>
          </div>
          <div class="col-md-6 mt-5">
            <h5 class="text-white font-18">Product Engineering</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">MVP Development</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Enterprise App Development</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Modernization</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud Transformation</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">UX Design</li>
            </ul>
          </div>
          <div class="col-md-6 mt-5">
            <h5 class="text-white font-18">Cloud Transformation</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud Migration</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">SaaS Development</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud Devops</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Low code platforms</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Cloud Strategy</li>
            </ul>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="row mt-5">
          <div>
            <h5 class="text-white font-18">About</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Our Products</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">About Us</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Core Values</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Our Quality</li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">Careers</li>
            </ul>
          </div>
          <div class="pt-5">
            <h5 class="text-white font-18">Locations</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">
                Plot 104 Kavuri Hills<br/>
                Madhapur, Hyderabad  500033<br/>
                +91 40 4025 4293
              </li>
              <li class="list-group-item bg-transparent border-0 font-14 footer-text-color px-0 py-4">
                6010 W Spring Creek Pkwy,<br/>
                Plano, TX 75024<br/>
                +1 (425) 943-9412
              </li>
              <li class="list-group-item bg-transparent p-0 border-0 font-14 footer-text-color">
                2211 Elliott Avenue, Suite 200<br/>
                Seattle, WA 98121<br/>
                +1 (425) 943-9412
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0"/>
    <div class="row py-4">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <span class="copyright-color font-16" >© 2020, Technovert Solutions Inc</span>
          </div>
        </div>
        
      </div>
      <div class="col-md-7">
        <span class="mx-5 footer-text-color font-16">Privacy Policy</span>
        <span class="mx-3 footer-text-color font-16">Terms of use</span>
      </div>
    </div>
  </div>
      
</footer>
<style>
  .bg-footer{
    background-color: #303642;
  }
  .copyright-color{
    color: #BBC2D2
  }
   .bg-transparent{
     background-color: transparent;
   }
   .font-14{
     font-size: 14px;
   }
   .font-16{
     font-size: 16px;
   }
   .font-18{
     font-size: 18px;
   }
   .font-21{
     font-size: 21px;
   }
   .line-height-24{
     line-height: 24px;
   }
   .footer-text-color{
     color: #A8AAB4;
   }
</style>
<script src="assets/js/jquery.js"></script>
<script src="assets/js//bootstrap.bundle.js"></script>
<script src="assets/js/technovert.js"></script>
